@using Advert.Models.Post
@model PostViewModel

<div class="card-user">
    @if (Model.IsTopicOwner)
    {
        <div class="actions">
            <div class="dropdown actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-chevron-down zmdi-hc-fw" aria-expanded="false"></i>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(30px, 26px, 0px);">
                    <a href="" class="dropdown-item" data-placement="top" data-target="#edit-post__modal" data-toggle="modal" onclick="onEditPostClick('@Model.PostId')">
                        <i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit post
                    </a>
                    <a href="" class="dropdown-item" data-placement="top" data-target="#edit-tags__modal--@Model.PostId" data-toggle="modal" onclick="onEditPostTagsClick('@Model.PostId')">
                        <i class="zmdi zmdi-tag-more zmdi-hc-fw"></i> Edit tags
                    </a>
                    <a href="" class="dropdown-item" data-placement="top" data-target="#delete-post__modal" data-toggle="modal" onclick="onDeletePostClick('@Model.PostId')">
                        <i class="zmdi zmdi-delete zmdi-hc-fw"></i> Delete post
                    </a>
                </div>
            </div>
        </div>
    }
    <div class="card-user__info">
        <a href="/@Model.ProfileName">
            <img src="@Model.ProfileImagePath" class="card-user__img" alt="">
        </a>
        <div>
            <a href="/@Model.ProfileName">
                <div class="card-user__name">@Model.ProfileName</div>
            </a>
            <div style="display: flex">
                @if (Model.IsTopicOwner)
                {
                    <div class="post-header__time">@Model.CreatedAt</div>
                }
                else
                {
                    if (Model.Tags != null && Model.Tags.Count > 0)
                    {
                        <div class="post-header__time">@Model.CreatedAt</div>
                    }
                    else
                    {
                        <div class="post-header__time--notags">@Model.CreatedAt</div>
                    }
                }
                <div id="post-header__tags--@Model.PostId" class="post-header__tags">
                    @if (Model.Tags == null || Model.Tags.Count == 0)
                    {
                        if (Model.IsTopicOwner)
                        {
                            <a href="" title="" data-placement="top" data-target="#edit-tags__modal--@Model.PostId" data-toggle="modal" onclick="onEditPostTagsClick('@Model.PostId')">
                                <i class="zmdi zmdi-tag-more zmdi-hc-fw post-tag__icon"></i>Add tags
                            </a>
                        }
                    }
                    else
                    {
                        if (Model.IsTopicOwner)
                        {
                            <a href="" title="" data-placement="top" data-target="#edit-tags__modal--@Model.PostId" data-toggle="modal" onclick="onEditPostTagsClick('@Model.PostId')">
                                <i class="zmdi zmdi-tag-more zmdi-hc-fw post-tag__icon"></i>
                            </a>
                        }

                        var index = 0;

                        foreach (var tag in Model.Tags)
                        {
                            if (index++ == Model.Tags.Count - 1)
                            {
                                <a class="post-tag__link" href="/Posts/GetPostsByTag?tagName=@tag">@tag</a>
                            }
                            else
                            {
                                <a class="post-tag__link" href="/Posts/GetPostsByTag?tagName=@tag">@tag</a><span>, </span>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

