@model IEnumerable<Egghead.Models.Articles.ArticlePreviewModel>

@if (Model.Any())
{
    foreach (var article in Model)
    {
        <article id="@article.Id">
            <div class="card m-b-20">
                <small class="text-muted m-l-10 m-t-10">Creat de <ins>@article.FirstName @article.LastName</ins>, @article.CreatedAt</small>
                <div class="card-body">
                    <a href="/Articles/ArticleContent?articleId=@article.Id">
                        <h4 class="card-title">@article.Title</h4>
                    </a>
                    <p class="card-text">@Html.Raw(article.Text)</p>
                    <small class="text-muted m-l-10 m-t-10 float-right">
                        <a href="/Articles/ArticleContent?articleId=@article.Id">READ MORE...</a>
                    </small>
                </div>
                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-sm-12">
                            <div name="btn-like" onclick="onVoteClick('@article.Id', 1)" class="r-btn r-btn-light r-btn--icon">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                            <small name="likes">@article.Likes</small>
                            
                            <div name="btn-dislike" onclick="onVoteClick('@article.Id', 2)" class="r-btn r-btn-light r-btn--icon">
                                <i class="fa fa-thumbs-o-down"></i>
                            </div>
                            <small name="dislikes">@article.Dislikes</small>   
                            
                            <div name="btn-bookmark" class="r-btn r-btn-light r-btn--icon">
                                <i class="fa fa-bookmark"></i>
                            </div>
                            <small name="bookmarks">@article.BookmarksCount</small> 
                            
                            <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                                <i class="fa fa-eye"></i>
                            </div>
                            <small id="article-view-count" >@article.ViewCount</small>    
                            
                            <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                                <i class="fa fa-weixin"></i>
                            </div>
                            <small id="article-comments">@article.CommentsCount</small>                              
                        </div>
                    </div>
                </div>
            </div>
        </article>
    }
}