@using Egghead.Models.Articles
@using Humanizer
@model AggregatorViewModel

@Html.Partial("Header", Model)

<section id="@Model.Articles.First().ArticleId" name="article" class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="text-muted p-3">
                    <a href="/Profile">
                        <small class="font-weight-bold">@Model.Profile.ProfileName</small>
                    </a> <small class="time"> @Model.Articles.First().CreatedAt.Humanize()</small>
                </div>

                <div class="card-body card-body__img">
                    <h4>@Model.Articles.First().Title</h4>
                    <p class="card-text">@Html.Raw(Model.Articles.First().Text)</p>
                </div>

                <div style="border-bottom: 1px solid #e3e3e3; padding-left: 20px; padding-bottom: 20px">
                    <h4 id="comments-count">
                        @Model.Articles.First().CommentsCount Comments
                    </h4>
                </div>

                <div id="comment-form" class="p-4">
                    <textarea id="comment-editor" style="display: none"></textarea>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button id="publish-comment" class="btn btn-light waves-effect waves-light btn-sm">COMMENT</button>
                        </div>
                    </div>
                </div>

                <div id="article-comments" class="container-fluid">
                    @if (Model.ArticleComments != null && Model.ArticleComments.Any())
                    {
                        foreach (var comment in Model.ArticleComments)
                        {
                            <div id="@comment.CommentId" class="media p-3">
                                <img src="@comment.ProfilePhoto" width="48" height="48">
                                <div class="media-body media__img">
                                    <div class="col-auto">
                                        <a href="/Profile/@comment.ProfileName">@comment.ProfileName</a> <small class="time"> @comment.CreatedAt</small>
                                    </div>
                                    <div class="col-auto">
                                        <h6>@Html.Raw(comment.Text)</h6>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#reply" onclick="showReplyForm(null, '@comment.CommentId')">Reply</a>
                                        <div name="btn-like" onclick="onCommentVoteClick('@comment.CommentId', 1)" class="r-btn r-btn-light r-btn--icon">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div>
                                        <span name="voting-points">100500</span>
                                        <div name="btn-dislike" onclick="onCommentVoteClick('@comment.CommentId', 2)" class="r-btn r-btn-light r-btn--icon">
                                            <i class="fa fa-thumbs-o-down"></i>
                                        </div>
                                    </div>
                                    <div id="reply-placeholder"></div>
                                    @if (comment.Comments != null)
                                    {
                                        foreach (var reply in comment.Comments)
                                        {
                                            <div id="@reply.ReplyTo .media-body:first" class="media p-3">
                                                <img src="@reply.ProfilePhoto" width="48" height="48">
                                                <div class="media-body media__img">
                                                    <div class="col-auto">
                                                        <a href="/Profile/@comment.ProfileName">@comment.ProfileName</a> <small class="time"> @reply.CreatedAt</small>
                                                    </div>
                                                    <div class="col-auto">
                                                        <h6>@Html.Raw(reply.Text)</h6>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a href="#reply" onclick="showReplyForm(null, '@reply.CommentId')">Reply</a>
                                                        <div name="btn-like" onclick="onCommentVoteClick('@reply.CommentId', 1)" class="r-btn r-btn-light r-btn--icon">
                                                            <i class="fa fa-thumbs-o-up"></i>
                                                        </div>
                                                        <span name="voting-points">100500</span>
                                                        <div name="btn-dislike" onclick="onCommentVoteClick('@reply.CommentId', 2)" class="r-btn r-btn-light r-btn--icon">
                                                            <i class="fa fa-thumbs-o-down"></i>
                                                        </div>
                                                    </div>
                                                    <div id="reply-placeholder"></div>
                                                </div>
                                            </div> 
                                        }   
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-4">
                <div style="border-bottom: 1px solid #d5d5d5; margin-bottom: 20px;">
                    <h4 class="text-muted font-weight-bold">Popular on Egghead</h4>
                </div>
                @{
                    var popularArticles = Model.PopularArticles;

                    if (popularArticles != null)
                    {
                        <div class="listview">
                            @foreach (var popularArticle in popularArticles)
                            {
                                <div class="listview__item">
                                    <div class="mr-2" style="width: 50px; height: 50px">
                                        <img src="/images/users/user_empty.png" class="listview__img" alt="">
                                    </div>
                                    <div class="listview__content">
                                        <div class="listview__heading">
                                            <p>
                                                <a class="font-weight-bold" href="/Articles/@popularArticle.ArticleId">@popularArticle.Title</a>
                                            </p>
                                        </div>
                                        <p>
                                            <a href="/Profile">@popularArticle.ProfileName</a> <small class="time"> @popularArticle.CreatedAt</small>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

<script>
    function showReplyForm(replyTo, commentId) {
        removeReplyForm("reply-form");

        console.log(`Reply to: ${replyTo} Comment id: ${commentId}`);

        $(`#${commentId} #reply-placeholder:first`).append(
            `<div id="reply-form">   
                <textarea id="reply-editor" style="display: none"></textarea>    
                <div class="row mt-3">
                    <div class="col-12">            
                        <input id="submit-reply" type="button" class="btn btn-light waves-effect waves-light btn-sm" value="Reply"/>
                        <input type="button" class="btn btn-light waves-effect waves-light btn-sm mr-2" value="Cancel" onclick="removeReplyForm('reply-form')"/>
                    </div>    
                </div>
            </div>`
        );

        var editor = new SimpleMDE({
            status: false,
            element: $("#reply-editor")[0],
            placeholder: "Add a public comment...",
            fullScreen: false,
            withPreview: false
        });

        $(".CodeMirror, .CodeMirror-scroll").css('min-height', '150px');

        $("#submit-reply").click(function() {
            removeReplyForm("reply-form");
            var text = editor.options.previewRender(editor.value());
            var articleId = $(`[name='article']`).attr("id");
            createCommentReplyAsync({
                articleId: articleId,
                text: text,
                replyTo: (replyTo == null ? commentId : replyTo)
            });
        });
    }

    function removeReplyForm(commentId) {
        var form = $(`#${commentId}`);
        if (form.length !== 0) {
            form.remove();
        }
    }

    function onCommentVoteClick(commentId, voteType) {
        var articleId = $(`[name='article']`).attr("id");
        createArticleCommentVoteAsync(articleId, commentId, voteType);
    }

    function createCommentReplyAsync(comment) {
        $.ajax({
            url: `/Articles/CreateArticleCommentAsync`,
            type: "POST",
            data: JSON.stringify(comment),
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + textStatus);
                console.log("errorThrown: " + errorThrown);
            },
            success: function(response) {
                $(`#${comment.replyTo} .media-body:first`).append(`
                <div id="${response.commentId}" class="media p-3">
                    <img src="/images/64x64.svg" width="48" height="48" alt="">
                    <div class="media-body media__img">
                        <div class="col-auto">
                            ${response.profileName} <small class="time"> ${response.createdAt}</small>
                        </div>
                        <div class="col-auto">
                            <h6>${response.text}</h6>
                        </div>
                        <div class="col-auto">
                            <a href="#reply" onclick="showReplyForm('${comment.replyTo}', '${response.commentId
                    }')">Reply</a>
                            <div name="btn-like" onclick="onCommentVoteClick('${response.commentId
                    }', 1)" class="r-btn r-btn-light r-btn--icon">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                            <span name="votes-count">${response.votesCount}</span>
                            <div name="btn-dislike" onclick="onCommentVoteClick('${response.commentId
                    }', 1)" class="r-btn r-btn-light r-btn--icon">
                                <i class="fa fa-thumbs-o-down"></i>
                            </div>
                        </div>
                        <div id="reply-placeholder"></div>
                    </div>
                </div>
                `);
            }
        });
    }

    function createArticleCommentAsync(comment) {
        $.ajax({
            url: `/Articles/CreateArticleCommentAsync`,
            type: "POST",
            data: JSON.stringify(comment),
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + textStatus);
                console.log("errorThrown: " + errorThrown);
            },
            success: function(response) {
                $("#article-comments").append(`
                <div id="${response.commentId}" class="media p-3">
                    <img src="${response.profileImagePath}" width="48" height="48">
                    <div class="media-body media__img">
                        <div class="col-auto">
                            ${response.profileName} <small class="time"> ${response.createdAt}</small>
                        </div>
                        <div class="col-auto">
                            <h6>${response.text}</h6>
                        </div>
                        <div class="col-auto">
                            <a href="#reply" onclick="showReplyForm(null, '${response.commentId}')">Reply</a>
                            <div name="btn-like" onclick="onCommentVoteClick('${response.commentId
                    }', 1)" class="r-btn r-btn-light r-btn--icon">
                                <i class="fa fa-thumbs-o-up"></i>
                            </div>
                            <span name="votes-count">${response.votesCount}</span>
                            <div name="btn-dislike" onclick="onCommentVoteClick('${response.commentId
                    }', 2)" class="r-btn r-btn-light r-btn--icon">
                                <i class="fa fa-thumbs-o-down"></i>
                            </div>
                        </div>
                        <div id="reply-placeholder"></div>
                    </div>
                </div>`);
            }
        });
    }

    function createArticleCommentVoteAsync(articleId, commentId, voteType) {
        var vote = {
            articleId: articleId,
            commentId: commentId,
            voteType: voteType
        }
        $.ajax({
            url: "/Articles/CreateArticleCommentVoteAsync",
            type: "POST",
            data: JSON.stringify(vote),
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + textStatus);
                console.log("errorThrown: " + errorThrown);
            },
            success: function(response) {
                switch (response.voteType) {
                case 1:
                    {
                        $(`#${commentId} span[name=votes-count]:first`).text(response.votesCount);
                    }
                    break;
                case 2:
                    {
                        $(`#${commentId} span[name=votes-count]:first`).text(response.votesCount);
                    }
                    break;
                }

            }
        });
    }

    function findArticleCommentsByArticleIdAync(articleId) {
        $.ajax({
            url: `/Articles/FindArticleCommentsByArticleIdAsync/${articleId}`,
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + textStatus);
                console.log("errorThrown: " + errorThrown);
            },
            success: function(response) {
                $("#article-comments").html(response);
            }
        });
    }

    $(document).ready(function() {
        var editor = new SimpleMDE({
            status: false,
            element: $("#comment-editor")[0],
            placeholder: "Add a public comment...",
            fullScreen: false,
            withPreview: false
        });

        $(".CodeMirror, .CodeMirror-scroll").css('min-height', '150px');

        $("#publish-comment").click(function() {
            var text = editor.options.previewRender(editor.value());
            var articleId = $(`[name='article']`).attr("id");
            createArticleCommentAsync(
                {
                    articleId: articleId,
                    text: text
                });
        });
//        findArticleCommentsByArticleIdAync(articleId);
    });
</script>