@using Egghead.Models.Articles

@model CompositeArticleModel

@Html.Partial("Header", Model)

<section class="content">
    <div class="row">
        <div class="col-md-3 p-1">
            <div class="card">
                <div class="card-body text-center">
                    <a href="/@Model.Profile.Name">
                        <img src="/images/users/user_empty.png" class="widget-profile__img widget-profile__img__hover" alt="profile-image">
                    </a>
                    <a href="/@Model.Profile.Name">
                        <h5 id="profile-name" class="mb-3">@Model.Profile.Name</h5>
                    </a>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-justify">Your articles</span>
                            <h5 id="profile-articles" class="text-center">@Model.Profile.ArticlesCount</h5>
                        </div>
                        <div class="col-md-6">
                            <span class="text-justify">Following</span>
                            <h5 id="profile-following" class="text-center">@Model.Profile.FollowingCount</h5>
                        </div>
                    </div>

                    <div class="profile__links text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-title">
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div class="container-fluid mb-3">
                @{
                    <div class="card">
                        @foreach (var article in Model.Articles)
                        {
                            <article id="@article.Id" class="card-hover">
                                <div class="text-muted p-3">
                                    <a href="/@Model.Profile.Name"><small class="font-weight-bold">@Model.Profile.Name</small></a> <small class="time"> @article.CreatedAt</small>             
                                </div>
                                <div class="card-body card-body__img">
                                    <a href="/Articles/@article.Id">
                                        <h4 class="card-title cut-long-text mb-2">@article.Title</h4>
                                    </a>
                                    @Html.Raw(article.Text)
                                </div>
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div name="btn-like" onclick="onVoteArticleClick('@article.Id', 1)" class="r-btn r-btn-light r-btn--icon ml-4">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div>
                                        <small name="likes-count">@article.LikesCount</small>

                                        <div name="btn-dislike" onclick="onVoteArticleClick('@article.Id', 2)" class="r-btn r-btn-light r-btn--icon">
                                            <i class="fa fa-thumbs-o-down"></i>
                                        </div>
                                        <small name="dislikes-count">@article.DislikesCount</small>

                                        <div name="btn-bookmark" class="r-btn r-btn-light r-btn--icon">
                                            <i class="fa fa-bookmark"></i>
                                        </div>
                                        <small name="shares-count">@article.SharesCount</small>

                                        <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <small id="article-view-count">@article.ViewsCount</small>

                                        <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                                            <i class="fa fa-weixin"></i>
                                        </div>
                                        <small id="comments-count">@article.CommentsCount</small>

                                        <small class="text-muted float-right mt-2 mr-4">
                                            <a href="/Articles/@article.Id">READ MORE...</a>
                                        </small>
                                    </div>
                                </div>
                            </article>
                            <div style="border-bottom: 1px solid #d5d5d5;"></div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3 p-1">
            <div class="card p-4">
                <div style="border-bottom: 1px solid #d5d5d5; margin-bottom: 20px;">
                    <h4 class="text-muted font-weight-bold">Popular on Egghead</h4>
                </div>
                @{
                    var popularArticles = Model.PopularArticles;

                     if (popularArticles != null)
                     {
                         <div class="listview">
                             @foreach (var popularArticle in popularArticles)
                             {
                                 <div class="listview__item">
                                     <div class="mr-2" style="width: 50px; height: 50px">
                                         <img src="/images/users/user_empty.png" class="listview__img" alt="">
                                     </div>
                                     <div class="listview__content">
                                         <div class="listview__heading">
                                             <p>
                                                 <a class="font-weight-bold" href="/Articles/@popularArticle.Id">@popularArticle.Title</a>
                                             </p>
                                         </div>
                                         <p>
                                             <a href="/@Model.Profile.Name"></a> <small class="time"> @popularArticle.CreatedAt</small>
                                         </p>
                                     </div>
                                 </div>
                             }
                         </div>
                     }
                }
            </div>
        </div>
    </div>
</section>

<script>
    function onVoteArticleClick(articleId, voteType) {
        var vote = {
            articleId: articleId,
            voteType: voteType
        }
        $.ajax({
            url: "/Articles/CreateArticleVoteAsync",
            type: "POST",
            data: JSON.stringify(vote),
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + textStatus);
                console.log("errorThrown: " + errorThrown);
            },
            success: function(response) {
                switch (response.voteType) {
                case 1:
                    {
                        $(`#${articleId} small[name=likes-count]`).text(response.votesCount);
                    }
                    break;
                case 2:
                    {
                        $(`#${articleId} small[name=dislikes-count]`).text(response.votesCount);
                    }
                    break;
                }
            }
        });
    }

    function onShareArticleClick(articleId) {
        $.ajax({
            url: "/Articles/ShareArticleAsync",
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + textStatus);
                console.log("errorThrown: " + errorThrown);
            },
            success: function(response) {
                $("#articles-preview").html(response);
            }
        });
    }
</script>