@model IEnumerable<Egghead.Models.Articles.ArticlePreview>

@if (Model.Any())
{
     foreach (var article in Model)
     {
         <article>
             <div class="card m-b-20">
                 <span class="card-arrow"></span>
                 <small class="text-muted m-l-10 m-t-10">Created by <ins>@article.Author</ins> today at @article.CreatedAt.ToShortTimeString()</small>           
                 <div class="card-body">
                     <span class="card-icon"></span>
                     <a href="/Articles/Article?id=@article.Id"><h4 class="card-title">@article.Title</h4></a>
                     <p class="card-text card-pl">@article.Text</p>
                     <small class="text-muted m-l-10 m-t-10 float-right"><a href="/Articles/Article?id=@article.Id">READ MORE...</a></small>
                 </div>
                 <div class="card-footer text-muted">                     
                     <div class="col-sm-4 col-md-4 col-lg-4">
                         <button class="btn waves-effect waves-light btn-success" onclick="like(this, '@article.Id')">
                             <i class="fa fa-thumbs-o-up"> @article.Likes</i>
                         </button>
                         <button class="btn waves-effect waves-light btn-danger" onclick="dislike(this, '@article.Id')">
                             <i class="fa fa-thumbs-o-down"> @article.Dislikes</i>
                         </button>
                         <i class="fa fa-eye m-l-10"> @article.ViewCount просмотр(ов)</i>
                         <i class="fa fa-commenting-o m-l-10">
                             <span> @article.CommentsCount</span>
                         </i>
                     </div>
                 </div>                
             </div> 
         </article>       
     }
}

<script>
    function like(object, param) {
        $.ajax({           
            url: "/Articles/AddArticleLike?articleId=" + param,
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                console.log(response);
                var queryResult = object.querySelector(".fa");
                queryResult.innerHTML = " " + response;
            }
        });
    }
         
    function dislike(object, param) {    

        $.ajax({
            url: "/Articles/AddArticleDislike?articleId=" + param,
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                var queryResult = object.querySelector(".fa");
                queryResult.innerHTML = " " + response;
            }
        });
    }
</script>