@model IEnumerable<Egghead.Models.Articles.ArticlePreviewModel>

@if (Model.Any())
{
    foreach (var article in Model)
    {
        <article>
            <div class="card m-b-20">
                @* <span class="card-arrow"></span> *@
                <small class="text-muted m-l-10 m-t-10">Created by <ins>@article.FirstName @article.LastName</ins> at @article.CreatedAt</small>
                <div class="card-body">
                    @* <span class="card-icon"></span> *@
                    <a href="/Articles/Article?articleId=@article.Id">
                        <h4 class="card-title">@article.Title</h4>
                    </a>
                    <p class="card-text">@article.Text</p>
                    <small class="text-muted m-l-10 m-t-10 float-right">
                        <a href="/Articles/Article?articleId=@article.Id">READ MORE...</a>
                    </small>
                </div>
                <div class="card-footer text-muted">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="@article.Id" name="btn-like" class="r-btn r-btn-light r-btn--icon">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                                <small id="likes-@article.Id" class="m-l-5 m-r-5">@article.Likes</small>

                                <div id="@article.Id" name="btn-dislike" class="r-btn r-btn-light r-btn--icon">
                                    <i class="fa fa-thumbs-o-down"></i>
                                </div>
                                <small id="dislikes-@article.Id" class="m-l-5 m-r-5">@article.Dislikes</small>
                                
                                <div class="float-right">
                                    <div class="r-btn r-btn-light r-btn--icon">
                                        <i class="fa fa-bookmark"></i>
                                    </div>
                                    <small id="bookmarks" class="m-l-5 m-r-5">0 bookmarks</small>
                                
                                    <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <small id="article-view-count" class="m-l-5 m-r-5">@article.ViewCount views</small>
                                
                                    <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                                        <i class="fa fa-weixin"></i>
                                    </div>
                                    <small id="article-comments" class="m-l-5 m-r-5">@article.CommentsCount comments</small>   
                                </div>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    }
}

<script>
    $(document).ready(function() {
        var btnLike = $("div[name=btn-like]");
        
        btnLike.click(function() {
            var articleId = $(this).attr("id");
            console.log(articleId);
            setLike(articleId);
        });
        
        var btnDislike = $("div[name=btn-dislike]");       
        
        btnDislike.click(function() {
            var articleId = $(this).attr("id");
            console.log(articleId);
            setDislike(articleId);
        });
              
        function setLike(articleId) {
            $.ajax({
                url: "/Articles/AddArticleLike?articleId=" + articleId,
                type: "GET",
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function(response) {
                    $("#likes-" + articleId).text(response);
                }
            });
        }
        
        function setDislike(articleId) {
            $.ajax({
                url: "/Articles/AddArticleDislike?articleId=" + articleId,
                type: "GET",
                contentType: "application/json",
                error: function(jqXhr, textStatus, errorThrown) {
                    console.log("jqXhr: " + jqXhr);
                    console.log("textStatus: " + jqXhr);
                    console.log("errorThrown: " + jqXhr);
                },
                success: function(response) {
                    $("#dislikes-" + articleId).text(response);
                }
            });
        }
    });   
</script>