@using Humanizer
@model Egghead.Models.Articles.AggregationModel

<header class="header">
    <div class="header__logo">
        <h1>
            <a href="/"><i class="fa fa-ravelry"></i>GGHEAD</a>
        </h1>
    </div>
    <ul class="top-nav">
        <li class="dropdown">
            <a id="write-article" href="#" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-lg fa-pencil"></i>
            </a>
        </li>
        <li class="dropdown">
            <a href="" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-lg fa-ellipsis-v"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-171px, 36px, 0px);">
                <a id="profile" href="/Profiles/GetProfile" class="dropdown-item">Profile</a>
                <a id="log-out" href="#" class="dropdown-item">Log out</a>
            </div>
        </li>
    </ul>
</header>

<section class="content">
    <div class="row">
        <div class="col-md-3 p-1">
            <div class="card">
                <div class="card-body text-center">
                    <a href="/Profiles/GetProfile">
                        <img src="/images/users/avatar-1.jpg" class="widget-profile__img widget-profile__img__hover" alt="profile-image">
                    </a>
                    <a href="/Profiles/GetProfile">
                        <h4 id="profile-fullname" class="card-title mb-3"></h4>
                    </a>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-justify">Your articles</span>
                            <h5 id="profile-articles-count" class="text-center"></h5>
                        </div>
                        <div class="col-md-6">
                            <span class="text-justify">Following</span>
                            <h5 id="profile-following-count" class="text-center"></h5>
                        </div>
                    </div>

                    <div class="profile__links text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div class="container-fluid mb-3">
                @if (Model.ArticlesPreview.Any())
                {
                    <div class="card">
                        @foreach (var article in Model.ArticlesPreview)
                        {
                            <article id="@article.Id" class="card-hover">
                                <div class="text-muted p-3">
                                    <small class="font-bold">@article.FirstName @article.LastName</small> <small class="time"> @article.CreatedAt.Humanize()</small>
                                </div>
                                <div class="card-body">
                                    <a href="/Articles/GetArticleContent?articleId=@article.Id">
                                        <h4 class="card-title clipped-text mb-3">@article.Title</h4>
                                    </a>
                                    @Html.Raw(article.Text)
                                </div>
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div name="btn-like" onclick="onVoteClick('@article.Id', 1)" class="r-btn r-btn-light r-btn--icon ml-4">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div>
                                        <small name="likes">@article.Likes</small>

                                        <div name="btn-dislike" onclick="onVoteClick('@article.Id', 2)" class="r-btn r-btn-light r-btn--icon">
                                            <i class="fa fa-thumbs-o-down"></i>
                                        </div>
                                        <small name="dislikes">@article.Dislikes</small>

                                        <div name="btn-bookmark" class="r-btn r-btn-light r-btn--icon">
                                            <i class="fa fa-bookmark"></i>
                                        </div>
                                        <small name="bookmarks">@article.BookmarksCount</small>

                                        <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <small id="article-view-count">@article.ViewCount</small>

                                        <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                                            <i class="fa fa-weixin"></i>
                                        </div>
                                        <small id="article-comments">@article.CommentsCount</small>

                                        <small class="text-muted float-right mt-2 mr-4">
                                            <a href="/Articles/GetArticleContent?articleId=@article.Id">READ MORE...</a>
                                        </small>
                                    </div>
                                </div>
                            </article>
                            <div style="border-bottom: 1px solid #d5d5d5;"></div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3 p-1">
            <div class="card p-4">
                <div style="border-bottom: 1px solid #d5d5d5; margin-bottom: 20px;">
                    <h4 class="text-muted font-bold">Popular on Egghead</h4>
                </div>

                @if (Model != null)
                {
                    <div class="listview">
                        @foreach (var article in Model.PopularArticles)
                        {
                            <div class="listview__item">
                                <div class="mr-2" style="width: 50px; height: 50px">
                                    <img src="/images/users/avatar-1.jpg" class="listview__img" alt=""> 
                                </div>

                                <div class="listview__content">
                                    <div class="listview__heading">
                                        <p>
                                            <a href="/Articles/GetArticleContent?articleId=@article.Id">@article.Title</a>
                                        </p>
                                    </div>
                                    <p>
                                        @article.FirstName @article.LastName <small class="time"> @article.CreatedAt.Humanize(true)</small>
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<script>
    function onVoteClick(articleId, voteType) {
        var vote = {
            voteType: voteType
        }
        $.ajax({
            url: "/Articles/CreateArticleVoteAsync?articleId=" + articleId,
            type: "POST",
            data: JSON.stringify(vote),
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                switch (voteType) {
                case 1:
                    {
                        $(`#${articleId} small[name=likes]`).text(response);
                    }
                    break;
                case 2:
                    {
                        $(`#${articleId} small[name=dislikes]`).text(response);
                    }
                    break;
                }

            }
        });
    }

    function onBookmarkClick(articleId) {
        $.ajax({
            url: "/Articles/GetProfileDescriptionAsync",
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                $("#articles-preview").html(response);
            }
        });
    }

    function getProfileDescriptionAsync() {
        $.ajax({
            url: "/Articles/GetProfileDescriptionAsync",
            type: "GET",
            contentType: "application/json",
            error: function(jqXhr, textStatus, errorThrown) {
                console.log("jqXhr: " + jqXhr);
                console.log("textStatus: " + jqXhr);
                console.log("errorThrown: " + jqXhr);
            },
            success: function(response) {
                $("#profile-fullname").html(`${response.firstName} ${response.lastName}`);
                $("#profile-headline").html(`${response.headline}`);
                $("#profile-articles-count").html(`${response.articlesCount}`);
                $("#profile-following-count").html(`${response.followingCount}`);
            }
        });
    }

    $(document).ready(function() {
        getProfileDescriptionAsync();
    });
</script>
