@model IEnumerable<Egghead.Models.Articles.ArticleCommentModel>

@if (Model != null && Model.Any())
{
    foreach (var articleComment in Model)
    {
        if (articleComment.ReplyTo == null)
        {
            <div id="@articleComment.Id" class="media p-3">
                <img src="/images/64x64.svg" width="48" height="48">
                <div class="media-body">
                    <div class="col-auto">
                        <h6 class="mt-0">@articleComment.FirstName @articleComment.LastName, @articleComment.CreatedAt</h6>
                    </div>
                    <div class="col-auto">
                        <h6>@Html.Raw(articleComment.Text)</h6>
                    </div>
                    <div class="col-auto">
                        <a href="#reply" onclick="showReplyForm(null, '@articleComment.Id')">Reply</a>
                        <div name="btn-like" onclick="onCommentVoteClick('@articleComment.Id', 1)" class="r-btn r-btn-light r-btn--icon">
                            <i class="fa fa-thumbs-o-up"></i>
                        </div>
                        <span name="voting-points">@articleComment.VotingPoints</span>
                        <div name="btn-dislike" onclick="onCommentVoteClick('@articleComment.Id', 2)" class="r-btn r-btn-light r-btn--icon">
                            <i class="fa fa-thumbs-o-down"></i>
                        </div>
                    </div>
                    <div class="reply-footer"></div>
                </div>
            </div>
        }
        else
        { 
             <script>
//                console.log(`Reply To: @articleComment.ReplyTo`);
                $("#@articleComment.ReplyTo .media-body:first").append(`
                    <div id='@articleComment.Id' class='media p-3'>
                        <img src="/images/64x64.svg" width="48" height="48">
                        <div class="media-body">
                            <div class="col-auto">
                                <h6 class="mt-0">@articleComment.FirstName @articleComment.LastName, @articleComment.CreatedAt</h6>
                            </div>
                            <div class="col-auto">
                                <h6>@Html.Raw(articleComment.Text)</h6>
                            </div>
                            <div class="col-auto">
                                <a href="#reply" onclick="showReplyForm('@articleComment.ReplyTo', '@articleComment.Id')">Reply</a>
                                <div name="btn-like" onclick="onCommentVoteClick('@articleComment.Id', 1)" class="r-btn r-btn-light r-btn--icon">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                                <span name="voting-points">@articleComment.VotingPoints</span>
                                <div name="btn-dislike" onclick="onCommentVoteClick('@articleComment.Id', 2)" class="r-btn r-btn-light r-btn--icon">
                                    <i class="fa fa-thumbs-o-down"></i>
                                </div>
                            </div>
                            <div class="reply-footer"></div>
                        </div>
                    </div>`
                );
            </script>
        }
    }
}