@model IEnumerable<Egghead.Models.Articles.ArticleCommentModel>

@if (Model != null && Model.Any())
{
    foreach (var comment in Model)
    {
        if (comment.ReplyTo == null)
        {
            <div id="@comment.Id" class="media p-3">
                <img src="/images/64x64.svg" width="48" height="48">
                <div class="media-body media__img">
                    <div class="col-auto">
                        @comment.Name <small class="time"> @comment.CreatedAt</small>
                    </div>
                    <div class="col-auto">
                        <h6>@Html.Raw(comment.Text)</h6>
                    </div>
                    <div class="col-auto">
                        <a href="#reply" onclick="showReplyForm(null, '@comment.Id')">Reply</a>
                        <div name="btn-like" onclick="onCommentVoteClick('@comment.Id', 1)" class="r-btn r-btn-light r-btn--icon">
                            <i class="fa fa-thumbs-o-up"></i>
                        </div>
                        <span name="voting-points">@comment.VotingPoints</span>
                        <div name="btn-dislike" onclick="onCommentVoteClick('@comment.Id', 2)" class="r-btn r-btn-light r-btn--icon">
                            <i class="fa fa-thumbs-o-down"></i>
                        </div>
                    </div>
                    <div id="reply-placeholder"></div>
                </div>
            </div>
        }
        else
        {
            <script>
                $(`#@comment.ReplyTo .media-body:first`).append(`
                    <div id='@comment.Id' class='media p-3'>
                        <img src="/images/64x64.svg" width="48" height="48">
                        <div class="media-body media__img">
                            <div class="col-auto">
                                @comment.Name <small class="time"> @comment.CreatedAt</small>
                            </div>
                            <div class="col-auto">
                                <h6>@Html.Raw(comment.Text)</h6>
                            </div>
                            <div class="col-auto">
                                <a href="#reply" onclick="showReplyForm('@comment.ReplyTo', '@comment.Id')">Reply</a>
                                <div name="btn-like" onclick="onCommentVoteClick('@comment.Id', 1)" class="r-btn r-btn-light r-btn--icon">
                                    <i class="fa fa-thumbs-o-up"></i>
                                </div>
                                <span name="voting-points">@comment.VotingPoints</span>
                                <div name="btn-dislike" onclick="onCommentVoteClick('@comment.Id', 2)" class="r-btn r-btn-light r-btn--icon">
                                    <i class="fa fa-thumbs-o-down"></i>
                                </div>
                            </div>
                            <div id="reply-placeholder"></div>
                        </div>
                    </div>`
                );
            </script>
        }
    }
}