@using Egghead.Models.Articles
@using Humanizer

@model IEnumerable<ArticleModel>

@Html.Partial("Header")

<section class="content">
    <div class="row">
        <div class="col-md-3 p-1">
            <div class="card">
                <div class="card-body text-center">
                    <a href="/Profiles/GetProfile">
                        <img src="/images/users/user_empty.png" class="widget-profile__img widget-profile__img__hover" alt="profile-image">
                    </a>
                    <a href="/Profiles/GetProfile">
                        <h5 id="profile-fullname" class="mb-3"></h5>
                    </a>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="text-justify">Your articles</span>
                            <h5 id="profile-articles-count" class="text-center"></h5>
                        </div>
                        <div class="col-md-6">
                            <span class="text-justify">You following</span>
                            <h5 id="profile-following-count" class="text-center"></h5>
                        </div>
                    </div>

                    <div class="profile__links text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a title="" data-placement="top" data-toggle="tooltip" href="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            
            <div class="card">
                <div class="card-title">
                    
                </div>
            </div>
        </div>
        <div class="col-md-6 p-1">
            <div class="container-fluid mb-3">
                @{
                    <div class="card">
                        @foreach (var article in Model)
                        {
                            <article id="@article.Id" class="card-hover">
                                <div class="text-muted p-3">
                                    <a href="/Profiles/GetProfile"><small class="font-weight-bold">@article.Name</small></a> <small class="time"> @article.CreatedAt</small>             
                                </div>
                                <div class="card-body card-body__img">
                                    <a href="/Articles/GetArticleContent?articleId=@article.Id">
                                        <h4 class="card-title cut-long-text mb-2">@article.Title</h4>
                                    </a>
                                    @Html.Raw(article.Text)
                                </div>
                                <div class="row">
                                    <div class="col-md-12 p-1">
                                        <div name="btn-like" onclick="onVoteClick('@article.Id', 1)" class="r-btn r-btn-light r-btn--icon ml-4">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div>
                                        <small name="likes">@article.LikesCount</small>

                                        <div name="btn-dislike" onclick="onVoteClick('@article.Id', 2)" class="r-btn r-btn-light r-btn--icon">
                                            <i class="fa fa-thumbs-o-down"></i>
                                        </div>
                                        <small name="dislikes">@article.DislikesCount</small>

                                        <div name="btn-bookmark" class="r-btn r-btn-light r-btn--icon">
                                            <i class="fa fa-bookmark"></i>
                                        </div>
                                        <small name="bookmarks">@article.BookmarksCount</small>

                                        <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                        <small id="article-view-count">@article.ViewsCount</small>

                                        <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                                            <i class="fa fa-weixin"></i>
                                        </div>
                                        <small id="article-comments">@article.CommentsCount</small>

                                        <small class="text-muted float-right mt-2 mr-4">
                                            <a href="/Articles/GetArticleContent?articleId=@article.Id">READ MORE...</a>
                                        </small>
                                    </div>
                                </div>
                            </article>
                            <div style="border-bottom: 1px solid #d5d5d5;"></div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="col-md-3 p-1">
            <div class="card p-4">
                <div style="border-bottom: 1px solid #d5d5d5; margin-bottom: 20px;">
                    <h4 class="text-muted font-weight-bold">Popular on Egghead</h4>
                </div>
                @{
@*                     var popularArticles = (List<PopularArticleModel>)ViewBag.PopularArticles; *@
@*                      *@
@*                     if (popularArticles != null) *@
@*                     { *@
@*                         <div class="listview"> *@
@*                             @foreach (var popularArticle in popularArticles) *@
@*                             { *@
@*                                 <div class="listview__item"> *@
@*                                     <div class="mr-2" style="width: 50px; height: 50px"> *@
@*                                         <img src="/images/users/user_empty.png" class="listview__img" alt="">  *@
@*                                     </div> *@
@* *@
@*                                     <div class="listview__content"> *@
@*                                         <div class="listview__heading"> *@
@*                                             <p> *@
@*                                                 <a class="font-weight-bold" href="/Articles/GetArticleContent?articleId=@popularArticle.Id">@popularArticle.Title</a> *@
@*                                             </p> *@
@*                                         </div> *@
@*                                         <p> *@
@*                                             <a href="/Profiles/GetProfile">@popularArticle.Name</a> <small class="time"> @popularArticle.CreatedAt.Humanize()</small> *@
@*                                         </p> *@
@*                                     </div> *@
@*                                 </div> *@
@*                             } *@
@*                         </div> *@
@*                     } *@
                }
            </div>
        </div>
    </div>
</section>