@using Bazaar.Models.Post
@model IEnumerable<PostViewModel>

@if (Model == null || !Model.Any())
{
    <span style="text-align: center; padding: 3rem">NO LISTINGS</span>
}
else
{
    foreach (var post in Model)
    {
        <article id="@post.PostId" class="card-hover">
            <div class="card-header">
                <div class="card-user">
                    @if (post.IsOwner)
                    {
                        <div class="actions">
                            <div class="dropdown actions__item">
                                <i data-toggle="dropdown" class="zmdi zmdi-chevron-down zmdi-hc-fw" aria-expanded="false"></i>
                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(30px, 26px, 0px);">
                                    <a href="" class="dropdown-item" data-placement="top" data-target="#edit-tags__modal--@post.PostId" data-toggle="modal" onclick="onEditPostTagsClick('@post.PostId')">
                                        <i class="zmdi zmdi-tag-more zmdi-hc-fw"></i> Edit tags
                                    </a>
                                    <div class="dropdown-separator"></div>
                                    <a href="" class="dropdown-item" data-placement="top" data-target="#edit-post__modal" data-toggle="modal" onclick="onEditPostClick('@post.PostId')">
                                        <i class="zmdi zmdi-edit zmdi-hc-fw"></i> Edit post
                                    </a>
                                    @if (!post.Hidden)
                                    {
                                        <span class="dropdown-item" onclick="onPostShowHideClick('@post.PostId')">
                                            <i class="zmdi zmdi-check zmdi-hc-fw"></i>
                                            <span id="post-availability__@post.PostId">Hide post</span>
                                        </span>
                                    }
                                    else
                                    {
                                        <span href="" class="dropdown-item" onclick="onPostShowHideClick('@post.PostId')">
                                            <i class="zmdi zmdi-check zmdi-hc-fw"></i>
                                            <span id="post-availability__@post.PostId">Show post</span>
                                        </span>
                                    }
                                    <a href="" class="dropdown-item" data-placement="top" data-target="#delete-post__modal" data-toggle="modal" onclick="onDeletePostClick('@post.PostId')">
                                        <i class="zmdi zmdi-delete zmdi-hc-fw"></i> Delete post
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card-user__info">
                        <a href="/@post.ProfileName">
                            <img photo-id="@post.ProfileId" src="@post.ProfileImagePath" class="card-user__img" alt="">
                        </a>
                        <div>
                            <a href="/@post.ProfileName">
                                <div class="card-user__name">@post.ProfileName</div>
                            </a>
                            <div style="display: flex">
                                @if (post.IsOwner)
                                {
                                    <div class="post-header__time">@post.CreatedAt</div>
                                }
                                else
                                {
                                    if (post.Tags != null && post.Tags.Count > 0)
                                    {
                                        <div class="post-header__time">@post.CreatedAt</div>
                                    }
                                    else
                                    {
                                        <div class="post-header__time--notags">@post.CreatedAt</div>
                                    }
                                }
                                <div id="post-header__tags--@post.PostId" class="post-header__tags">
                                    @if (post.Tags == null || post.Tags.Count == 0)
                                    {
                                        if (post.IsOwner)
                                        {
                                            <a href="" title="" data-placement="top" data-target="#edit-tags__modal--@post.PostId" data-toggle="modal" onclick="onEditPostTagsClick('@post.PostId')">
                                                <i class="zmdi zmdi-tag-more zmdi-hc-fw post-tag__icon"></i>Add tags
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        if (post.IsOwner)
                                        {
                                            <a href="" title="" data-placement="top" data-target="#edit-tags__modal--@post.PostId" data-toggle="modal" onclick="onEditPostTagsClick('@post.PostId')">
                                                <i class="zmdi zmdi-tag-more zmdi-hc-fw post-tag__icon"></i>
                                            </a>
                                        }

                                        var index = 0;

                                        foreach (var tag in post.Tags)
                                        {
                                            if (index++ == post.Tags.Count - 1)
                                            {
                                                <a class="post-tag__link" href="/Posts/GetPostsByTag?tagName=@tag">@tag</a>
                                            }
                                            else
                                            {
                                                <a class="post-tag__link" href="/Posts/GetPostsByTag?tagName=@tag">@tag,</a>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="/Posts?postId=@post.PostId">
                    <h4 id="post-title__@post.PostId" class="card-text__title font-weight-bold cut-long-text">@post.Title</h4>
                </a>
                <p>
                    @if (post.Price > 0)
                    {
                        <span id="post-price__@post.PostId" style="font-size: 0.9rem; color: #71a830">@post.Price@post.Currency</span>
                    }
                    else
                    {
                        <span id="post-price__@post.PostId" style="font-size: 0.9rem; color: #71a830">FREE</span>
                    }
                </p>
                @if (post.Location != null)
                {
                    <p>
                        <i class="zmdi zmdi-pin zmdi-hc-fw"></i>
                        <span id="post-location__@post.PostId" style="font-size: 0.9rem; color: #90949c">@post.Location</span>
                    </p>
                }
                <div id="post-text__@post.PostId">
                    @Html.Raw(post.Text)
                </div>
                <div data-nanogallery2>
                    <a href="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-ngThumb="https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"> Title photo 1 </a>
                    <a href="https://userscontent2.emaze.com/images/e7994a0e-e8b9-4d2c-be0d-5105d20295fb/16336feef73a889316080afc744f109f.png" data-ngThumb="https://userscontent2.emaze.com/images/e7994a0e-e8b9-4d2c-be0d-5105d20295fb/16336feef73a889316080afc744f109f.png"> Title photo 2 </a>
                    <a href="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" data-ngThumb="https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"> Title photo 3 </a>
                    <a href="https://images.unsplash.com/photo-1502657877623-f66bf489d236?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" data-ngThumb="https://images.unsplash.com/photo-1502657877623-f66bf489d236?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"> Title photo 3 </a>
                </div>
            </div>
            <div class="card-footer">
                <div class="r-btn r-btn-light r-btn--icon waves-effect" onclick="onVotePostClick('@post.PostId', 1)">
                    @if (post.IsVoted)
                    {
                        <i id="vote-icon__@post.PostId" class="zmdi zmdi-favorite zmdi-hc-fw"></i>
                    }
                    else
                    {
                        <i id="vote-icon__@post.PostId" class="zmdi zmdi-favorite-outline zmdi-hc-fw"></i>
                    }
                </div>
                <span id="votes-count__@post.PostId">@post.LikesCount</span>

                <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                    <i class="zmdi zmdi-comments zmdi-hc-fw"></i>
                </div>
                <span id="comments-count__@post.PostId">@post.CommentsCount</span>

                <div class="r-btn r-btn-light-no-hover r-btn--icon-no-hover">
                    <i class="zmdi zmdi-eye zmdi-hc-fw"></i>
                </div>
                <span id="post-views__count--@post.PostId">@post.ViewsCount</span>
            </div>
            <div style="border-bottom: 1px solid #d5d5d5;"></div>

            @await Html.PartialAsync("EditPostTagsModal", post)
        </article>
    }
}

